{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/iroha/css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/iroha/css/sample.css' %}" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Noto+Serif+JP:wght@700&display=swap" rel="stylesheet">
<body>
    
    {% block content %}

    {% endblock %}

    <script src="{% static '/iroha/js/sample.js' %}"></script>
</body>
</html>