{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/iroha/css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/iroha/css/sample.css' %}" />
    <title>居酒屋いろは</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Noto+Serif+JP:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    
    
    <div class="wrap">
        <header class="header">
            <div class="header_wrap">
                <h1 class="logo">
                    <a href="{% url 'index' %}"><img src="{% static '/iroha/images/logo.png' %}" alt="居酒屋いろは"></a>
                </h1>
                <nav class="nav">
                    <ul>
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'menu' %}">MENU</a></li>
                        <li><a href="{% url 'about' %}">ABOUT</a></li>
                        <li><a href="{% url 'access' %}">ACCESS</a></li>
                    </ul>
                </nav>
                <a href="">
                    <p>ご予約はこちらから</p>
                    <p>0000-00-0000</p>
                </a>
            </div>
        </header>

        <main class="main">
            <div class="main_wrap">
                <section class="top">
                    <div class="kv">
                        
                    </div>
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="footer_wrap">
                
            </div>
        </footer>
    </div>

    <script src="{% static '/iroha/js/sample.js' %}"></script>
    
</body>
</html>