{% extends "iroha/base.html" %}

{% load static %}
{% block title %}居酒屋いろは{% endblock %}
{% block content %}

<div class="wrap">
    <header class="header">
        <div class="header-wrap">
            <h1 class="logo">
                <a href="{% url 'index' %}"><img src="{% static '/iroha/images/logo.png' %}" alt="居酒屋いろは"></a>
            </h1>
            <nav class="nav">
                <ul>
                    <li class="home"><a href="{% url 'index' %}">HOME</a></li>
                    <li class="menu"><a href="{% url 'menu' %}">MENU</a></li>
                    <li class="about"><a href="{% url 'about' %}">ABOUT</a></li>
                    <li class="access"><a href="{% url 'access' %}">ACCESS</a></li>
                </ul>
            </nav>
            <a class="reservation" href="tel">
                <div class="reservation-reset">
                    <div class="reservation-text-wrap">
                        <p class="reservation-text">ご予約はこちらから</p>
                        <p class="reservation-tel">0000-00-0000</p>
                    </div>
                </div>
            </a>
        </div>
    </header>

    <main class="main">
        <div class="main_wrap">
            <section class="top">
                <div class="kv">
                    
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer_wrap">
            
        </div>
    </footer>
</div>

{% endblock %}